*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/build
/debug
/release
.apk
.aab
.AAB

.idea/caches/gradle_models.ser
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml



